{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

{% block content %}
{% load keyvalue %}
<div class="row">
  <!-- Blocco VPN  -->
  <div class="col-md-4" style="padding-bottom: 20px;">
    <div class="alert alert-info" style="overflow: auto; clear:both; height: 100%;background:#fc5f30;">
      <div style="float: left; width: 65%;">
        <div>
          <h3 style="margin: 0 0;">VPN</h3>
        </div>
        {% if VPN == "off" %}
        <span>La <b>VPN</b> è al momento <b>OFF</b> <br /><i style="color: white;">(Generalmente la VPN impiega meno di
            5 minuti per avviarsi)</i></span>
        {% endif %}
        {% if VPN == "on" %}
        <span><img src="../static/assets/img/logo_on.svg" alt=""></span>
        <h3 style="font-size: 16px;">La VPN è attiva</h3>
        {% endif %}
        {% if VPN == "ignoto" %}
        <span><img src="../static/assets/img/logo_off.svg" alt=""></span>
        <h3 style="font-size: 16px;">La VPN non è attiva</h3>
        {% endif %}
      </div>
      <div style="float: right; width: 35%; text-align: center; height: 100%;">
        <br /><br /><img src="static/fileOPENVPN.png" style="max-width: 60px; width: 100%;"><br />
        {% if VPN == "on" %}
        <a href="client.ovpn" download>Download Certificato</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- inizio macchina attacco  -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-primary" style="background: #fc5f30;">
        <h4 class="card-title" style="color: white; font-size: 25px;">{{macchina_attacco.nome}}<span
            style="font-size: 15px; float: right;"></span></h4>
        <p class="card-category">{{macchina_attacco.docker_name}}</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {{macchina_attacco.descrizione|safe}}
          <br /><br />
          <div id="macchina_attacco_loading"></div>
          <h4 id="risultato"></h4>
          <h4 id="collegamento"></h4>

          <button style="color: white; font-weight: 400;background-color: #fc5f30;border-color: #fc5f30;"
            class="btn btn-primary" id="macchina_attacco" value="start_macchina_attacco">
            Avvia Macchina di attacco
          </button>

          <button hidden class="btn"
            style="color: white; font-weight: 400;background-color: #fc5f30;border-color: #fc5f30;"
            id="btn_connessione_ssh">
            Connessione alla macchina di attacco</button>

        </div>
      </div>
    </div>
  </div>
  <!-- fine macchina attacco  -->
</div>


<!-- For dei laboratori-->
<div class="row">
  <!-- TODO: togliere e sistemare -->

  {% for laboratorio in labs %}
  {% with laboratorio_id=laboratorio.pk|stringformat:"s" %}
  {% with user_id=request.session.user_pk|stringformat:"s" %}

  {% with name_lab="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id %}
  {% with lab_start_time="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id|add:"_start_time" %}
  {% with lab_durata="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id|add:"_durata" %}
  {% with lab_IP="labid_"|add:laboratorio_id|add:"_userid_"|add:user_id|add:"_IP" %}
  <div
    class="laboratorio col-md-10 col-sm-10 col-lg-6 filtro_livello_{{ laboratorio.livello.pk }} filtro_{{ laboratorio.argomento_1.pk }} filtro_{{ laboratorio.argomento_2.pk }} filtro_{{ laboratorio.argomento_3.pk }} filtro_{{ laboratorio.argomento_4.pk }} filtro_{{ laboratorio.argomento_5.pk }} filtro_{{ laboratorio.argomento_6.pk }} filtro_{{ laboratorio.argomento_7.pk }} filtro_{{ laboratorio.argomento_8.pk }} filtro_{{ laboratorio.argomento_9.pk }} filtro_{{ laboratorio.argomento_10.pk }} filtro_{{ laboratorio.argomento_11.pk }}">
    <div class="card">
      <div class="card-header card-header-primary" style="background: #9318a3;">
        <h4 class="card-title " style="color: white;font-size: 25px;">{{ laboratorio.nome }}<span
            style="font-size: 15px; float: right;"><i style="color: rgb(247, 240, 231);">Durata Massima:
              {%widthratio laboratorio.durata_secondi 60 1 %}min</i></span></h4>
        <p class="card-category">{{ laboratorio.sotto_titolo }}</p>
        {% if laboratorio.argomento_1.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_1.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_1.colore }}';">{{ laboratorio.argomento_1.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_2.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_2.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_2.colore }}';">{{ laboratorio.argomento_2.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_3.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_3.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_3.colore }}';">{{ laboratorio.argomento_3.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_4.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_4.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_4.colore }}';">{{ laboratorio.argomento_4.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_5.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_5.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_5.colore }}';">{{ laboratorio.argomento_5.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_6.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_6.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_6.colore }}';">{{ laboratorio.argomento_6.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_7.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_7.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_7.colore }}';">{{ laboratorio.argomento_7.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_8.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_8.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_8.colore }}';">{{ laboratorio.argomento_8.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_9.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_9.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_9.colore }}';">{{ laboratorio.argomento_9.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_10.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_10.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_10.colore }}' ;">{{ laboratorio.argomento_10.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.argomento_11.colore|length >= 3 %}
        <a href="/arg-{{ laboratorio.argomento_11.pk }}.html"><span class="card-category tag_args"
            style="  border: 2px solid '{{ laboratorio.argomento_11.colore }}' ;">{{ laboratorio.argomento_11.argomento
            }}</span></a>
        {% endif %}
        {% if laboratorio.livello.colore|length >= 3 %}
        <span class="card-category tag_level"
          style=" background-color: '{{ laboratorio.livello.colore }}'; font-weight: bold;"><b>{{
            laboratorio.livello.livello }}</b></span>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <!-- {{ laboratorio.descrizione|safe }} -->
          <br /><br />

          {% if name_lab in request.session %}
          {% if request.session|keyvalue:name_lab == "running" %}
          <button class="btn btn-primary" id="{{ laboratorio.pk }}_stop" style="background: #9318a3; color: white;"
            onclick="return action_lab('stop_lab','{{ laboratorio.pk }}','result_{{ laboratorio.pk }}')">Termina
            Lab</button>
          <button class="btn btn-primary" id="{{ laboratorio.pk }}_start"
            onclick="return action_lab('start_lab','{{ laboratorio.pk }}','result_{{ laboratorio.pk }}')"
            style="display:none; background: #9318a3; color: white;">Avvia Lab</button>
          <br />IP Lab: {{ request.session|keyvalue:lab_IP }}
          <script>
            get_timer('{{ request.session|keyvalue:lab_start_time }}', 'timer_{{ laboratorio.pk }}', '{{ request.session|keyvalue:lab_durata }}');
          </script>
          {% endif %}
          {% else %}
          <button class="btn" id="{{ laboratorio.pk }}_stop"
            onclick="return action_lab('stop_lab','{{ laboratorio.pk }}')"
            style="display:none; background: #9318a3;color: white; font-weight:500;">Termina
            Laboratorio</button>
          <button class="btn" id="{{ laboratorio.pk }}_start" style="background: #9318a3; color: white; font-weight:500;"
            onclick="return action_lab('start_lab','{{ laboratorio.pk }}')">Avvia
            Laboratorio</button>
          {% endif %}
          <span style="float: right;"><br /><a href="doc-lab-{{ laboratorio.pk }}.html">Info Lab</a></span>
          <span style="float: right;"><br /><a style="padding-right: 17px;" href="#submitFlag">Inserisci Flag</a></span>
          <div id="result_{{ laboratorio.pk }}"></div>
          <div id="timer_{{ laboratorio.pk }}"></div>
          <script>

            function send_req(POST_REQUEST, lab) {

              var cb = null;

              myObj = sendPost(csrftoken, "/core/", POST_REQUEST, function (cb, stat) {
                if (cb == "error") {
                  if (stat == "404") { //not found
                    document.getElementById("result_" + lab).innerHTML = "ERRORE (" + stat + ")";
                  } else if (stat == "0") {
                    document.getElementById("result_" + lab).innerHTML = "<img src=\"static/assets/img/loading.gif\" style=\"width: 100%; max-width: 130px;\">";
                  } else {//altri errori, tipo 500 o 403
                    document.getElementById("result_" + lab).innerHTML = "Errore: " + stat;
                  }
                } else if (typeof cb.error != "undefined") { //errore custom
                  document.getElementById("result_" + lab).innerHTML = "Errore: " + cb.error;
                } else {

                  if (typeof cb.response_action != "undefined") {
                    if (cb.response_action == "stop_container") {
                      document.getElementById(lab + "_start").style.display = 'none';
                      document.getElementById(lab + "_stop").style.display = 'block';
                      document.getElementById("timer_" + lab).style.display = 'block';
                      get_timer(cb.start_time, 'timer_' + cb.id_timer, cb.durata);
                      new_num = parseInt($("#num_notifications").text()) + 1;
                      if (typeof cb.show_not == "undefined") { //se è diverso da undefined vuol dire che non deve mostrare la notifica
                        $("#num_notifications").html("" + new_num + "");
                        $("#num_notifications").css("display", "inline");
                      }
                    } else if (cb.response_action == "start_container") {
                      document.getElementById(lab + "_start").style.display = 'block';
                      document.getElementById(lab + "_stop").style.display = 'none';
                      document.getElementById("timer_" + lab).style.display = 'none';
                      new_num = parseInt($("#num_notifications").text()) + 1;
                      $("#num_notifications").html("" + new_num + "");
                      $("#num_notifications").css("display", "inline");
                    }

                  }

                  //questo nasconde il caricamento 
                  document.getElementById("result_" + lab).innerHTML = "<b>" + cb.msg_response + "</b>";
                }
              });

              return cb;

            }
            const timers = {}
            function action_lab(action_lab, laboratorio) {
              const id = "timer_" + laboratorio
              if (action_lab == "stop_lab") {
                if (timers[id]) {
                  clearInterval(timers[id])
                  delete timers[id]
                }
              }

              var POST_REQUEST = {
                action: encodeURIComponent(action_lab),
                lab: encodeURIComponent(laboratorio)
              };

              send_req(POST_REQUEST, laboratorio);

              return false;
            }


            function get_timer(timestamp, id_display, durata) {
              console.log("mostro qui->" + id_display)

              // Set the date we're counting down to
              //old _ new Date("Jan 5, 2021 15:37:25").getTime()
              var inizio = new Date().getTime();
              var countDownDate = inizio + (parseInt(durata) * 1000);

              console.log("ORA: " + inizio + " \n countdown: " + countDownDate)

              // Update the count down every 1 second
              timers[id_display] = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById(id_display).innerHTML = days + "d " + hours + "h "
                  + minutes + "m " + seconds + "s ";

                // If the count down is finished, write some text
                if (distance < 0) {
                  clearInterval(timers[id_display]);
                  document.getElementById(id_display).innerHTML = "Laboratorio Stoppato Automaticamente";
                  new_num = parseInt($("#num_notifications").text()) + 1;
                  $("#num_notifications").html("" + new_num + "");
                  $("#num_notifications").css("display", "inline");
                }
              }, 1000);
            }



          </script>

        </div>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endfor %}
  <!-- inizio form submit flag -->
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-header-success" style="background: #5ea318;">
        <h4 class="card-title" style="font-weight: 400; color:white"> Inserisci Flag </h4>
      </div>
      <div class="card-body">
        <form id="submitFlag" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_laboratorio">Nome Laboratorio</label>
            <select class="custom-select" class="form-control" name="laboratorio" id="laboratorio">
              <option selected disabled>Scegli</option>
              {% for laboratorio in labs %}
              <option value="{{laboratorio.nome}}">{{laboratorio.nome}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label for="flag">Flag</label>
            <input type="text" class="form-control" name="flag" id="flag">
          </div>
          <input name="form_flag" class="btn btn-success" style="background: #5ea318;
          font-weight: 500;" type="submit" value="Invia">
        </form>
      </div>
    </div>
  </div>
</div>



<script src="/static/assets/js/core/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $(".flt").click(function () {
      //se è già attivo il filtro
      if ($(this).hasClass("tag_args_clicked")) {
        $(this).removeClass("tag_args_clicked");
      } else {
        $(this).addClass("tag_args_clicked");
      }

      if ($(this).hasClass("tag_lvl_clicked")) {
        $(this).removeClass("tag_lvl_clicked");
      } else {
        $(this).addClass("tag_lvl_clicked");
      }

      var filtri = [];

      $(".tag_args_clicked").each(function (index) {
        filtri.push($(this).attr("id"));
      });

      $(".tag_lvl_clicked").each(function (index) {
        filtri.push($(this).attr("id"));
      });

      console.log(filtri);

      $(".laboratorio").each(function (index) {
        fLen = filtri.length;

        found_filtro = false;
        if (fLen > 0) {
          for (i = 0; i < fLen; i++) {
            if ($(this).hasClass(filtri[i]))
              found_filtro = true;
          }

          if (found_filtro == false) {
            $(this).fadeOut("slow", function () { });
          } else {
            $(this).fadeIn("slow", function () { });
          }
        } else {
          $(this).fadeIn("slow", function () { });
        }

      });


    });

  });


  const btn_macchina_attacco = document.getElementById("macchina_attacco")
  btn_macchina_attacco.addEventListener("click", avvia_macchina_attacco)
  const h4_risultato = document.getElementById("risultato")
  const h4_collegamento = document.getElementById("collegamento")
  const btn_connessione_ssh = document.getElementById("btn_connessione_ssh")
  btn_connessione_ssh.addEventListener("click", function () { apri_terminale_ssh(); })
  // per passare i parametri ad una funzione...


  var ip_macchina_attacco = "{{ip_macchina_attacco}}"
  var porta_macchina_attacco = "{{porta_macchina_attacco}}"
  var password_macchina_attacco = "{{password_macchina_attacco}}"

  function avvia_macchina_attacco() {
    console.log("avvia_macchina_attacco start")
    kali_loading = document.getElementById("macchina_attacco_loading")
    h4_collegamento.innerHTML = ""
    h4_risultato.innerHTML = ""
    kali_loading.innerHTML = '<img src="static/assets/img/loading.gif" style="width: 100%; max-width: 100px;">'
    fetch('', {
      method: 'POST',
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": "{{csrf_token}}"
        // "X-CSRFToken": getCookie("csrftoken"),
      },
      body: JSON.stringify({ "value": btn_macchina_attacco.value }),
    }).then(response => response.json()).then(data => {
      if (data["success"]) {
        h4_risultato.innerHTML = "Macchina di attacco avviata"
        h4_collegamento.innerHTML = `ssh -p ${data["porta_macchina_attacco"]} root@${data["ip_macchina_attacco"]}`
        btn_connessione_ssh.hidden = false
        ip_macchina_attacco = data["ip_macchina_attacco"]
        porta_macchina_attacco = data["porta_macchina_attacco"]

        kali_loading.innerHTML = ""
        btn_macchina_attacco.value = "stop_macchina_attacco"
        btn_macchina_attacco.innerHTML = "Termina Macchina di attacco"
        btn_macchina_attacco.removeEventListener("click", avvia_macchina_attacco)
        btn_macchina_attacco.addEventListener("click", stoppa_macchina_attacco)
      } else {
        h4_risultato.innerHTML = "Si è verificato un errore nella creazione della macchina d'attacco"
      }
    })
  }

  function stoppa_macchina_attacco() {
    console.log("stoppa")
    kali_loading = document.getElementById("macchina_attacco_loading")
    h4_collegamento.innerHTML = ""
    h4_risultato.innerHTML = ""
    kali_loading.innerHTML = '<img src="static/assets/img/loading.gif" style="width: 100%; max-width: 100px;">'
    fetch('', {
      method: 'POST',
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": "{{csrf_token}}",
      },
      body: JSON.stringify({ "value": btn_macchina_attacco.value }),
    }).then(response => response.json()).then(data => {
      h4_risultato.innerHTML = "Macchina di attacco terminata"
      kali_loading.innerHTML = ""
      btn_connessione_ssh.hidden = true
      btn_macchina_attacco.value = "start_macchina_attacco"
      btn_macchina_attacco.innerHTML = "Avvia Macchina Attacco"
      btn_macchina_attacco.removeEventListener("click", stoppa_macchina_attacco)
      btn_macchina_attacco.addEventListener("click", avvia_macchina_attacco)
    })
  }

  function apri_terminale_ssh(input_automatico) { //non conosco js, non so come passare parametri
    //console.log(input_automatico)

    //const password_b64 = btoa(password_macchina_attacco) // con le post non serve
    //console.log(password_b64)
    // ?hostname=bandit.labs.overthewire.org&username=bandit0&port=2220&password=${password}
    // Inizio funzione terminale ssh con la POST
    // let myterminal = window.open(`{{ip_webssh}}`, 'popup', 'width=1000,height=600')
    // setTimeout(() => {
    //   let data = {
    //     hostname: ip_macchina_attacco,
    //     port: porta_macchina_attacco,
    //     username: "root",
    //     password: password_macchina_attacco,
    //   }
    //   // per risolvere il problema delle emoticon:
    //   // http://localhost:8888/?hostname=blabla#encoding=utf8
    //   // valutare anche ?term=xterm-256color
    //   // si può risolvere avviando webssh con 
    //   // python3 run.py --encoding=utf-8
    //   console.log(data)
    //   myterminal.postMessage(data, "*")
    // }, 300)

    // Funzione terminale con GET
    password_b64 = btoa(password_macchina_attacco)
    let myterminal = window.open(`{{ip_webssh}}?hostname=${ip_macchina_attacco}&port=${porta_macchina_attacco}&username=root&password=${password_b64}`, 'popup', 'width=1000,height=600')

  }

  if ('{{macchina_attacco_status}}' == 'True') {
    avvia_macchina_attacco()
  }

  //inizio funzioni per gestire il form della flag
  function handleSubmit(form_flag) {
    form_flag.addEventListener("submit", e => {
      e.preventDefault();
      formData = new FormData(form_flag);
      let data = formData.entries();
      for (var value of data) {
        console.log(value);
      }
      fetch('', {
        method: 'POST',
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": "{{csrf_token}}",
        },
        body: formData
      }).then(response => {
        console.log(response);
        return response.json()
      }).then(data => {
        form_flag.reset();
        if (data["response"])
          alert("Flag corretta!")
        else
          alert("Flag sbagliata!")
      })
    })
  };
  const form_flag = document.getElementById("submitFlag");
  handleSubmit(form_flag);

</script>


{% endblock content %}