{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
    function load() {
        $("#risposta_1").fadeToggle();
        $("#risposta_2").fadeToggle();
    }
    window.onload = load;

    /*
    function show_risposta(id) {
        $("#risposta_" + id).fadeToggle();
    }
    */
</script>
<div class="row">
    <div class="col-md-10">
        <h2> How 2 Start<br /></h2><br />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-custom" style="background-color: #5ea318;">
                    <h4 class="card-title card-title-custom" style=" color: white; font-weight: 400;">Qual è
                        lo
                        scopo della
                        piattaforma?</h4>
                </div>
                <div class="card-body" style="display:none;" id="risposta_1">
                    <div class="table-responsive" style="color: #031016">
                        La piattaforma consente all’utente di approfondire gli aspetti legati alla sicurezza
                        informatica.
                        In particolare, tramite dei laboratori concepiti sui punti chiave della Cyber Kill Chain,
                        l’utente potrà comprendere le principali fasi di un attacco.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-custom" style="background-color: #5ea318;">
                    <h4 class="card-title card-title-custom" style=" color: white; font-weight: 400;">Come mi
                        esercito?</h4>
                </div>
                <div class="card-body" style="display:none;" id="risposta_2">
                    <div class="table-responsive" style="color: #031016">
                        L’utente, dopo aver effettuato la registrazione sulla piattaforma, si troverà sulla dashboard da
                        cui potrà accedere alla sezione “Laboratori” nel menu a sinistra.
                        I laboratori sono costituiti da cinque challenge: Mercury, Venus, Earth, Mars e Jupiter. Al loro
                        interno vi sono delle vulnerabilità concatenate e concepite in vista di un progressivo
                        apprendimento e, pertanto, è consigliabile eseguirli nell’ordine fornito.
                        Il collegamento al laboratorio prevede obbligatoriamente che l’utente avvii la VPN e, in
                        seguito, la macchina di attacco (Kali).
                        Ciascun laboratorio ha un tempo limite assegnato, dopodiché il sistema provvederà a
                        terminarlo.
                        Una volta individuata la flag, occorrerà inserirla nell’apposito riquadro, selezionando il
                        laboratorio di riferimento.
                        L’utente potrà monitorare, tramite i contatori contenuti nella dashboard, i punteggi e le
                        statistiche di apprendimento.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}